<div ng-controller="IndexController">

  <div id="filter">
    <div class='filter-section' ng-repeat="category in filter.categories">
      <p><strong>{{category | capitalize}}</strong></p>
      <div class="checkbox-container" ng-repeat="type in filter.filterValues[category]">
        <input id="check-type-{{type | value}}"
               type="checkbox"
               ng-model="filter.filter[category][type]"
               ng-change="filter.refilter()"
               ng-disabled="!filter.canFilter(category, type)">
        <label for="check-type-{{type | value}}" ng-disabled="!filter.canFilter(category, type)">{{type}}</label>
      </div>
    </div>
  </div>

  <div id="main">
    <div class="loading" ng-hide="loaded">
      Loading...
    </div>

    <div class="loaded" ng-show="loaded">
      <div>Showing {{filter.gems.length}} of
        <ng-pluralize count="filter.allGems.length"
                      when="{'1': '1 gem', 'other': '{} gems'}"></ng-pluralize>.
      </div>
      <table>
        <tr>
          <th class="col-name">Name</th>
          <th class="col-type">Type</th>
          <th class="col-quality">Quality</th>
          <th>Stats</td>
        </tr>
        <tr ng-repeat="gem in filter.gems" class="gem-row {{gem.quality | lowercase}}">
          <td class="cell-name"><a ng-href="{{gemUrl(gem.id)}}">{{gem.name}}</a></td>
          <td class="cell-type {{gem.type | lowercase}}">{{gem.type}}</td>
          <td class="cell-quality {{gem.quality | lowercase}}">{{gem.quality}}</td>
          <td class="cell-stats">
            <div ng-repeat="stat in gem.stats">{{stat.amount}} {{stat.stat}}</div>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
